body {
	background-color: black;
	color: white;
}

svg {
	pointer-events: none;
}

.boldonse-regular {
	font-family: "Boldonse", system-ui;
	font-weight: 400;
	font-style: normal;
}

.unstyled-button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: white;
}

.flex {
	display: flex;
}

#mainContainer {
	display: block;
	height: 100vh;
}

#musicInfoDiv {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

#controlsDiv {
	margin: 0 auto;
	width: 36rem;
}
#controlsDiv button:hover {
	color: greenyellow;
}
#basicControls {
	margin: 0 auto;
	width: 36rem;
}
#extraControls {
	margin: 5rem auto;
	width: 36rem;
	opacity: 80%;
	padding: 20px;
}

#extraControls button {
	margin-left: 2rem;
	margin-right: 2rem;
}

.icon-size {
	width: 10rem;
	height: 10rem;
}

@media screen and (max-width: 800px) {
	#controlsDiv {
		width: 100%;
	}
	#extraControls {
		width: 50%;
	}
	#extraControls button {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (max-width: 430px) {
	#controlsDiv {
		width: 100%;
	}
	#basicControls {
		width: 24rem;
	}
	#extraControls {
		width: 79%;
	}
	#extraControls button {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.icon-size {
		width: 8rem;
		height: 8rem;
	}
}
